@use "fonts";


/* Repeat for UltraBold, UltraLight, etc. */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'GTWalsheimPro', sans-serif !important;
    margin: 0;
}

section[id] {
    scroll-margin-top: 100px;
}

a[href^="#"] {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}